.test-img {
    width: 1170px;
    margin: 0 auto;

}
.horizontal {
    display: flex;
}
.vertical {
}
.head {
    display: block;
    text-align: center;
}
.img1v, .img2v {
    width: 610px;
    height: 300px;
    background-size: cover;
    background-position: center;
}
.img1h {
    margin-right: 10px;
    background-image: url("../img/before.JPG");
}
.img1v {
    margin-bottom: 10px;
    background-image: url("../img/before.JPG");
}
.img2v {
    background-image: url("../img/after.jpg");
}
.img2h {
    background-image: url("../img/after.jpg");
}
.img1h, .img2h {
    width: 300px;
    height: 450px;
    background-size: cover;
    background-position: center;
}


.test-slide {
    width: 680px;
    height: 510px;
    position: relative;
    overflow: hidden;
}
.one, .two {
    overflow: hidden;
    width: 680px;
    height: 510px;
    position: absolute;
    left: 0;
    top: 0;
}
